Libraries:
 - conda install pandas

In [18]:
import pandas as pd 

df = pd.read_csv("../data/computers.csv")
df = df.filter(items=df.columns[0:7])


df = df.round(2)

df.describe(include='all')

,price,speed,hd,ram,screen,cd,multi
count,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259,6259
unique,NaN,NaN,NaN,NaN,NaN,2,2
top,NaN,NaN,NaN,NaN,NaN,no,no
freq,NaN,NaN,NaN,NaN,NaN,3351,5386
mean,2219.576610,52.011024,416.601694,8.286947,14.608723,NaN,NaN
std,580.803956,21.157735,258.548445,5.631099,0.905115,NaN,NaN
min,949.000000,25.000000,80.000000,2.000000,14.000000,NaN,NaN
25%,1794.000000,33.000000,214.000000,4.000000,14.000000,NaN,NaN
50%,2144.000000,50.000000,340.000000,8.000000,14.000000,NaN,NaN
75%,2595.000000,66.000000,528.000000,8.000000,15.000000,NaN,NaN
max,5399.000000,100.000000,2100.000000,32.000000,17.000000,NaN,NaN

For mixed data types provided via a DataFrame, the default is to return only an analysis of numeric columns. If the dataframe consists only of object and categorical data without any numeric columns, the default is to return an analysis of both the object and categorical columns. If include='all' is provided as an option, the result will include a union of attributes of each type.

In [2]:
df['cd'].value_counts()

no     3351
yes    2908
Name: cd, dtype: int64

In [3]:
df['multi'].value_counts()

no     5386
yes     873
Name: multi, dtype: int64

---

In [4]:
df['cd'] = pd.Categorical(df['cd'], categories=df['cd'].unique()).codes
df['multi'] = pd.Categorical(df['multi'], categories=df['multi'].unique()).codes
test_set = df.sample(n=1000, random_state=0)
main_set = df.drop(test_set.index)

In [20]:
main_set.describe()

,price,speed,hd,ram,screen,cd,multi
count,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000
mean,2224.561894,52.235026,417.625975,8.340749,14.618178,0.464537,0.139000
std,579.301211,21.218069,258.554273,5.658289,0.910120,0.498788,0.345979
min,999.000000,25.000000,80.000000,2.000000,14.000000,0.000000,0.000000
25%,1795.000000,33.000000,214.000000,4.000000,14.000000,0.000000,0.000000
50%,2154.000000,50.000000,345.000000,8.000000,14.000000,0.000000,0.000000
75%,2595.000000,66.000000,528.000000,8.000000,15.000000,1.000000,0.000000
max,5399.000000,100.000000,2100.000000,32.000000,17.000000,1.000000,1.000000

---

In [5]:
X = main_set.loc[:, main_set.columns != 'price'].to_numpy()
y = main_set['price'].to_numpy()
X_test = test_set.loc[:, test_set.columns != 'price'].to_numpy()
y_test = test_set['price'].to_numpy()

In [22]:
import numpy as np
from sklearn.model_selection import RepeatedKFold, cross_validate, GridSearchCV, RandomizedSearchCV

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.linear_model import LinearRegression

def mean_squared_error_(ground_truth, predictions):
    return np.sqrt(mean_squared_error(ground_truth, predictions))
RMSE = make_scorer(mean_squared_error_, greater_is_better=False)

Tuning parameter 'shrinkage' was held constant at a value of 0.1

Tuning parameter 'n.minobsinnode' was held constant at a value of 10

RMSE was used to select the optimal model using the smallest value.

The final values used for the model were n.trees = 100, interaction.depth = 2, shrinkage = 0.1 and n.minobsinnode = 10.

In [7]:
rkf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=0)

clf = GradientBoostingRegressor() 
param_distributions = {'learning_rate': [0.1], 'min_samples_leaf': [10], 'n_estimators': [50, 100], 'max_depth': [1, 2]}
tmp = RandomizedSearchCV(clf, param_distributions, n_iter=4, scoring=RMSE, cv=rkf, random_state=0).fit(X, y)

all = pd.DataFrame()

In [8]:
for param_id in range(0, len(tmp.cv_results_['params'])):
    tmp_test_scores = []
    for split_scores_id in range(0, 100): 
        tmp_test_scores.append(tmp.cv_results_[f'split{split_scores_id}_test_score'][param_id])
    params = tmp.cv_results_["params"][param_id]
    params_list = [params['learning_rate'], params['max_depth'], params['min_samples_leaf'], params['n_estimators']]
    all = all.append({'Model': f'gb[,{",".join(str(x) for x in params_list)},]', 'RMSE': -1*min(tmp_test_scores), "SD": np.std(tmp_test_scores)}, ignore_index=True)

In [27]:

parameters = {'n_neighbors': [1, 2, 3, 5, 7, 10]}
tmp = GridSearchCV(KNeighborsRegressor(), parameters, cv=rkf, scoring=RMSE).fit(X, y)

In [28]:
bestNNModel = tmp.best_estimator_
for param_id in range(0, len(tmp.cv_results_['params'])):
    tmp_test_scores = []
    for split_scores_id in range(0, 100): 
        tmp_test_scores.append(tmp.cv_results_[f'split{split_scores_id}_test_score'][param_id])
    all = all.append({'Model': f'nn[,{tmp.cv_results_["params"][param_id]["n_neighbors"]},]', 'RMSE': -1*min(tmp_test_scores), "SD": np.std(tmp_test_scores)}, ignore_index=True)

In [29]:
tmp.cv_results_

{'mean_fit_time': array([0.00196349, 0.00191336, 0.00197546, 0.00204937, 0.00186665,
        0.00184718]),
 'std_fit_time': array([0.00047395, 0.00025156, 0.0003569 , 0.00032518, 0.00019165,
        0.00012865]),
 'mean_score_time': array([0.00244095, 0.00255888, 0.0026356 , 0.00297231, 0.00283856,
        0.00306915]),
 'std_score_time': array([0.00059069, 0.00042902, 0.00034844, 0.00041704, 0.00019177,
        0.00019435]),
 'param_n_neighbors': masked_array(data=[1, 2, 3, 5, 7, 10],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 1},
  {'n_neighbors': 2},
  {'n_neighbors': 3},
  {'n_neighbors': 5},
  {'n_neighbors': 7},
  {'n_neighbors': 10}],
 'split0_test_score': array([-379.09398696, -317.99602656, -316.09693629, -314.24753678,
        -310.9998657 , -319.55271863]),
 'split1_test_score': array([-385.17348568, -344.38677109, -317.50624376, -314.40743456,
        -312.4206681 , -331.70194361]),
 'split2_test_score': array([-400.7021831 , -351.17868679, -337.67912926, -318.78640369,
        -308.58918461, -308.99826402]),
 'split3_test_score': array([-364.90109864, -326.75308334, -322.21217363, -313.03969792,
        -312.65356348, -319.56571933]),
 'split4_test_score': array([-401.93843522, -374.27995129, -371.77109396, -370.26482302,
        -368.77087248, -375.74456233]),
 'split5_test_score': array([-380.29599239, -340.79565535, -312.63352331, -317.30022031,
        -330.67772736, -334.57596451]),
 'split6_test_score': array([-357.87271246, -324.14352414, -308.4312488 , -305.23815299,
        -314.94070944, -323.7334316 ]),
 'split7_test_score': array([-379.43889432, -352.19176854, -334.35785266, -338.00068002,
        -337.44633767, -340.14624209]),
 'split8_test_score': array([-393.20233232, -344.84955528, -319.54855242, -310.52200231,
        -312.69145866, -316.94454181]),
 'split9_test_score': array([-396.03317081, -347.41597888, -341.1976544 , -322.83488193,
        -325.05434791, -327.28172876]),
 'split10_test_score': array([-388.37128956, -314.79787332, -298.59477184, -294.69518247,
        -298.75357422, -303.59684904]),
 'split11_test_score': array([-357.05869356, -321.38329594, -311.24393975, -318.15892267,
        -325.97048998, -340.52594308]),
 'split12_test_score': array([-374.00881682, -323.53390214, -324.73872927, -331.85510272,
        -336.89773355, -342.46145083]),
 'split13_test_score': array([-376.53047887, -357.91044866, -335.4236622 , -323.97762421,
        -319.10840686, -323.44675604]),
 'split14_test_score': array([-350.17748623, -314.28596724, -320.07157984, -317.10059588,
        -315.77030049, -328.71957483]),
 'split15_test_score': array([-369.30163514, -334.87849649, -318.93223677, -318.22170668,
        -329.808194  , -336.87228808]),
 'split16_test_score': array([-402.64898289, -368.10149168, -356.41771603, -346.52020313,
        -353.03460677, -352.99673807]),
 'split17_test_score': array([-396.0000192 , -343.3661296 , -335.67507979, -333.81773664,
        -337.13598799, -349.53703226]),
 'split18_test_score': array([-373.27200604, -323.17009774, -323.7327965 , -322.8004363 ,
        -328.81987543, -329.36469986]),
 'split19_test_score': array([-384.12256972, -331.71644159, -322.17444714, -309.9859273 ,
        -317.32783507, -321.05566344]),
 'split20_test_score': array([-376.41882921, -351.57151131, -326.80995603, -310.20243066,
        -314.6834447 , -313.57748789]),
 'split21_test_score': array([-340.16418816, -338.46984297, -328.84176374, -323.85209364,
        -331.73419101, -332.86604312]),
 'split22_test_score': array([-392.08970709, -336.6353549 , -339.63585553, -331.33797421,
        -335.85879995, -341.0354852 ]),
 'split23_test_score': array([-361.71873986, -328.02853905, -322.20367843, -327.39474331,
        -325.14711022, -330.07834921]),
 'split24_test_score': array([-393.55105331, -349.43658345, -333.33203929, -313.92505499,
        -310.19082649, -315.4201428 ]),
 'split25_test_score': array([-368.09398081, -346.24992691, -331.53253843, -311.13554075,
        -306.78988801, -324.04008727]),
 'split26_test_score': array([-367.03880557, -345.95906811, -336.40207763, -340.31023433,
        -337.28862373, -346.25948947]),
 'split27_test_score': array([-372.26162659, -329.42159891, -314.93907244, -332.82703874,
        -339.70620177, -347.55294479]),
 'split28_test_score': array([-402.08267457, -356.62132906, -343.56936465, -322.54121911,
        -320.05541564, -326.58920052]),
 'split29_test_score': array([-392.52354979, -359.64463016, -344.5494179 , -334.98179487,
        -332.54760656, -335.03896655]),
 'split30_test_score': array([-330.71298999, -316.29875599, -318.27857113, -326.92974373,
        -331.09313775, -331.86730805]),
 'split31_test_score': array([-388.83409621, -337.20811135, -345.02549149, -356.41116673,
        -341.81304748, -353.22102232]),
 'split32_test_score': array([-393.7203438 , -347.19002095, -351.64224832, -354.47154669,
        -355.70975349, -361.79236562]),
 'split33_test_score': array([-406.65527109, -339.3678317 , -334.95759652, -313.86263579,
        -313.20564654, -320.29070015]),
 'split34_test_score': array([-382.14801146, -346.93129121, -330.24565085, -318.50404036,
        -322.47535145, -332.23580644]),
 'split35_test_score': array([-388.65376011, -342.00487511, -324.89977006, -312.61048237,
        -316.57971752, -329.03056444]),
 'split36_test_score': array([-401.73247204, -361.6975956 , -340.81069475, -332.76718577,
        -335.25291265, -338.37836541]),
 'split37_test_score': array([-359.47922038, -311.7827114 , -318.38593484, -302.39800266,
        -297.77174054, -301.83619235]),
 'split38_test_score': array([-402.09299617, -384.24584301, -359.01753731, -354.56271209,
        -361.095495  , -365.38132271]),
 'split39_test_score': array([-373.82531444, -318.52314486, -301.64120106, -287.20491533,
        -287.66750419, -293.56930211]),
 'split40_test_score': array([-367.42689452, -338.62176413, -341.87301506, -343.25978766,
        -351.65203649, -372.42503729]),
 'split41_test_score': array([-348.1186836 , -306.5756835 , -298.22948182, -299.28481723,
        -301.39943771, -307.09236572]),
 'split42_test_score': array([-414.17660769, -336.23434774, -318.83510776, -315.80650378,
        -324.1875268 , -328.74949528]),
 'split43_test_score': array([-349.67267693, -332.61265352, -326.08062393, -305.25931556,
        -314.33795267, -319.56362035]),
 'split44_test_score': array([-356.04780033, -330.98459667, -317.99608743, -300.28234128,
        -305.66369202, -314.71269776]),
 'split45_test_score': array([-391.91813571, -337.3922677 , -326.93481629, -320.78754776,
        -318.01162106, -322.33150935]),
 'split46_test_score': array([-368.71993658, -352.20208402, -326.05844188, -318.44855468,
        -314.16701891, -323.72472613]),
 'split47_test_score': array([-394.97718806, -359.5935377 , -333.49529272, -333.95114781,
        -332.7330106 , -341.12459704]),
 'split48_test_score': array([-369.87609168, -320.00560015, -325.46244698, -330.72568786,
        -327.39218219, -336.1677774 ]),
 'split49_test_score': array([-391.54365079, -353.80506201, -340.05031903, -331.63011696,
        -325.65500911, -328.64908957]),
 'split50_test_score': array([-383.54774986, -337.87562395, -335.05882332, -335.549485  ,
        -343.90974167, -347.84051495]),
 'split51_test_score': array([-408.34225747, -370.21430825, -339.2471389 , -325.94296219,
        -330.25194176, -331.13173579]),
 'split52_test_score': array([-392.94537106, -338.55333515, -316.40490282, -317.10730561,
        -317.09469541, -330.09795559]),
 'split53_test_score': array([-386.77751978, -356.43767887, -335.92790703, -322.88107147,
        -320.63641502, -328.87863144]),
 'split54_test_score': array([-352.68969224, -317.69320265, -315.09276536, -309.90074862,
        -312.62264886, -321.22857162]),
 'split55_test_score': array([-381.57125124, -354.01702863, -335.57925945, -328.71771819,
        -326.94182233, -334.02396285]),
 'split56_test_score': array([-374.35746982, -338.96635613, -339.28711018, -329.10907376,
        -331.43649508, -335.72946755]),
 'split57_test_score': array([-362.47256616, -326.77088097, -322.5450051 , -322.0045803 ,
        -319.58844836, -330.04740577]),
 'split58_test_score': array([-370.35200089, -339.82571509, -321.78154007, -324.97538216,
        -327.91902284, -336.93901091]),
 'split59_test_score': array([-354.38898456, -338.51136719, -329.79152337, -322.80041647,
        -317.0955033 , -320.81674229]),
 'split60_test_score': array([-352.311525  , -342.49198042, -322.27713534, -313.32698381,
        -324.73019267, -332.7831899 ]),
 'split61_test_score': array([-399.94782454, -329.83344253, -327.70943535, -320.2755527 ,
        -317.55540158, -321.24930439]),
 'split62_test_score': array([-387.09334114, -345.407448  , -338.7269115 , -322.3762193 ,
        -319.16751036, -321.32550735]),
 'split63_test_score': array([-371.4552335 , -344.39614523, -329.01381011, -328.03635266,
        -331.48020638, -339.49279832]),
 'split64_test_score': array([-380.98891734, -331.15191137, -322.73417694, -328.21577642,
        -332.57086684, -348.91230268]),
 'split65_test_score': array([-362.39940521, -334.37926075, -346.34769436, -325.45131051,
        -321.5284401 , -327.74346046]),
 'split66_test_score': array([-362.71131772, -328.3723984 , -319.41206684, -306.11437026,
        -307.44390436, -316.10355519]),
 'split67_test_score': array([-333.46990675, -310.91511792, -297.42805736, -297.85465833,
        -296.40370477, -299.80183943]),
 'split68_test_score': array([-364.62463119, -348.89062369, -320.62435691, -329.49863458,
        -331.33925114, -338.97414687]),
 'split69_test_score': array([-409.80573098, -377.65084593, -362.66821487, -369.28699527,
        -371.45580915, -380.23066335]),
 'split70_test_score': array([-371.26667365, -330.70982465, -326.86374193, -305.09427752,
        -302.07530022, -303.42829494]),
 'split71_test_score': array([-356.95232452, -312.04549381, -298.16103103, -302.1224006 ,
        -304.07842604, -310.21548184]),
 'split72_test_score': array([-390.25263339, -336.5114003 , -330.53344212, -345.62443055,
        -351.54436626, -365.12754329]),
 'split73_test_score': array([-407.34402179, -353.90887718, -343.39179674, -334.90919012,
        -344.5415718 , -352.26277529]),
 'split74_test_score': array([-410.69342965, -360.61473246, -335.99908275, -329.1902911 ,
        -318.19596977, -324.36116093]),
 'split75_test_score': array([-391.08922674, -324.88331629, -317.08785811, -311.86056258,
        -316.12933588, -324.13669847]),
 'split76_test_score': array([-391.1948111 , -343.50707801, -337.69404474, -334.84290125,
        -341.18295866, -352.57675445]),
 'split77_test_score': array([-368.16339725, -327.03616328, -322.76133338, -319.2890971 ,
        -318.0081283 , -317.76409178]),
 'split78_test_score': array([-360.13468383, -317.61608309, -308.73696767, -320.96536112,
        -318.68163895, -325.36344326]),
 'split79_test_score': array([-386.11525543, -338.53907842, -326.4005693 , -318.52167536,
        -316.56487493, -321.4648751 ]),
 'split80_test_score': array([-366.93864294, -327.50560179, -316.65648539, -308.30071192,
        -307.88832213, -322.27586596]),
 'split81_test_score': array([-401.05203857, -340.90037557, -316.9921178 , -316.52894041,
        -302.57151083, -311.44023226]),
 'split82_test_score': array([-354.84401864, -312.08104235, -303.65579039, -316.64097143,
        -320.29780818, -332.01807137]),
 'split83_test_score': array([-379.54339187, -333.33842019, -332.82263   , -326.3301764 ,
        -326.6665722 , -336.01584264]),
 'split84_test_score': array([-396.90844018, -346.41046267, -330.94902425, -334.06794726,
        -335.26990149, -349.24094331]),
 'split85_test_score': array([-400.97418443, -365.22891475, -361.36903408, -340.69414179,
        -335.80205678, -337.52429461]),
 'split86_test_score': array([-357.9438376 , -334.54737952, -322.05047238, -343.01592476,
        -349.52456513, -354.94343367]),
 'split87_test_score': array([-388.52731112, -349.82109496, -329.72627489, -326.7021953 ,
        -325.97107839, -322.59260105]),
 'split88_test_score': array([-368.40748125, -334.31659195, -329.86481497, -328.95220474,
        -330.12955212, -339.52520466]),
 'split89_test_score': array([-373.78227938, -313.24915992, -309.02143553, -305.87806173,
        -309.47582839, -316.58290857]),
 'split90_test_score': array([-381.6854233 , -331.05134189, -321.92853791, -324.36008988,
        -336.93498164, -357.0551764 ]),
 'split91_test_score': array([-379.08690076, -340.17198946, -313.5789669 , -315.12793093,
        -316.75967365, -326.68734835]),
 'split92_test_score': array([-382.06609625, -343.0358295 , -342.16225457, -325.84961879,
        -328.58901778, -336.048804  ]),
 'split93_test_score': array([-423.04401608, -364.48177115, -340.43164342, -330.67340072,
        -324.9317251 , -326.78180471]),
 'split94_test_score': array([-385.7782293 , -348.09163125, -327.91734439, -324.40041281,
        -333.33856637, -337.49108379]),
 'split95_test_score': array([-360.24494202, -320.33662635, -300.78400935, -304.72955946,
        -308.30155334, -307.04696554]),
 'split96_test_score': array([-371.37733315, -340.37456791, -327.55627651, -327.61125971,
        -326.45721571, -343.04728121]),
 'split97_test_score': array([-384.7749651 , -352.5030081 , -334.29405374, -316.87994764,
        -319.1992959 , -323.56952823]),
 'split98_test_score': array([-387.55706314, -341.45596126, -330.60442305, -313.19780433,
        -311.39702765, -315.16092389]),
 'split99_test_score': array([-405.76659723, -342.03769494, -329.80209265, -346.24778257,
        -356.72682871, -353.35570911]),
 'mean_test_score': array([-379.32039891, -339.11060483, -327.77574687, -323.27444903,
        -324.67120869, -331.499123  ]),
 'std_test_score': array([18.53449472, 15.75852222, 14.13468779, 14.63281382, 15.48388031,
        16.40527767]),
 'rank_test_score': array([6, 5, 3, 1, 2, 4], dtype=int32)}

In [11]:
clf = LinearRegression()

tmp = cross_validate(clf, X, y, cv=rkf, scoring=RMSE)
all = all.append({'Model': 'lm', 'RMSE': -1*min(tmp['test_score']), "SD": np.std(tmp['test_score'])}, ignore_index=True)

In [12]:
all

                 Model        RMSE         SD
0    gb[,0.1,1,10,50,]  465.734108  17.891289
1   gb[,0.1,1,10,100,]  447.622174  17.133322
2    gb[,0.1,2,10,50,]  433.891617  17.185479
3   gb[,0.1,2,10,100,]  407.898817  15.229875
4              nn[,1,]  423.044016  18.534263
5              nn[,2,]  384.245843  15.759044
6              nn[,3,]  371.771094  14.135298
7              nn[,5,]  370.264823  14.634447
8              nn[,7,]  371.455809  15.485513
9             nn[,10,]  380.230663  16.406543
10                  lm  474.878803  17.341011

In [26]:
all.sort_values('RMSE')

                 Model        RMSE         SD
7              nn[,5,]  370.264823  14.634447
8              nn[,7,]  371.455809  15.485513
6              nn[,3,]  371.771094  14.135298
9             nn[,10,]  380.230663  16.406543
5              nn[,2,]  384.245843  15.759044
3   gb[,0.1,2,10,100,]  407.898817  15.229875
4              nn[,1,]  423.044016  18.534263
11             nn[,1,]  423.044016  18.534263
2    gb[,0.1,2,10,50,]  433.891617  17.185479
12             nn[,2,]  440.353185  18.082168
1   gb[,0.1,1,10,100,]  447.622174  17.133322
13             nn[,3,]  460.621551  20.181353
0    gb[,0.1,1,10,50,]  465.734108  17.891289
10                  lm  474.878803  17.341011
14             nn[,5,]  487.095561  22.507588
15             nn[,7,]  491.838467  23.856946
16            nn[,10,]  509.372818  23.421833

In [14]:
y_predicted = bestNNModel.predict(X_test)
round(np.sqrt(np.mean((y_predicted - y_test)**2)), 2)

320.45